.App {
  text-align: center;
}

.Available-rooms {
	height: 100%;
	width: 25%;
	position: fixed;
	background-color: grey;
	top: 0;
	left: 0;
}

.App-header {
	text-align: center;
}

.Message-list {
	margin-left: 26%;
}

.Message-list h1 {
	text-transform: capitalize;
	text-align: center;
}
